.wrapper {
    display: flex;
    width: 1500px;
    flex-wrap: wrap;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 24.5625rem;
    height: 200px;
    margin: 0px 18px 18px 0px;
    border-radius: 18px;
    box-shadow: rgba(35, 35, 95, 0.188) 0px 3px 8px;

    &:hover {
        cursor: pointer;
        box-shadow: rgba(35, 35, 95, 0.17) 0px -23px 25px 0px inset,
            rgba(35, 35, 95, 0.15) 0px -36px 30px 0px inset,
            rgba(35, 35, 95, 0.1) 0px -79px 40px 0px inset, rgba(35, 35, 95, 0.06) 0px 2px 1px,
            rgba(35, 35, 95, 0.09) 0px 4px 2px, rgba(35, 35, 95, 0.09) 0px 8px 4px,
            rgba(35, 35, 95, 0.09) 0px 16px 8px, rgba(35, 35, 95, 0.09) 0px 32px 16px;
    }
}
.img {
    display: block;
    width: 144px;
    height: 144px;
}

.nameBox {
    display: flex;
    align-items: center;
    width: 24.5625rem;
    min-height: 55px;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.nameText {
    margin-left: 18px;
}

@media screen and (max-width: 1024px) {
    .wrapper {
        width: 795px;
    }
    .card {
        justify-content: space-between;
        width: 253px;
        height: 210px;
        margin: 0px 12px 18px 0px;
    }
    .nameBox {
        height: 66px;
        width: 253px;
    }
}
@media screen and (max-width: 768px) {
    .wrapper {
        width: 750px;
    }
    .card {
        justify-content: space-between;
        width: 177px;
        height: 210px;
        margin: 0px 12px 18px 0px;
    }
    .nameBox {
        height: 66px;
        width: 177px;
    }
}
